<%= turbo_stream_from thing %>

<div id="<%= dom_id(thing) %>" style="display: flex; justify-content: space-between; max-width: 500px; border: thin grey solid; padding: 10px">
    <%= thing.name %>

    <div>
      <%= link_to "Edit", edit_thing_path(thing), data: { turbo_stream: true } %> |

      <%= link_to "Destroy", thing, data: { turbo: true, turbo_method: "delete" } %>
    </div>
</div>
